{% extends "app_base/home.html" %}


{% block content %}

        <div style="margin-top : 1rem;" class="row">
            <!-- product image -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ product_object.image }}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button style="width: 100%;" id="{{product.id}}" class="btn atc btn-warning">Add to cart</button>
                    </div>
                </div>
            </div>
            <!-- product pricing and details -->
            <div class="col-md-6">
                <div style="margin-top : 4rem;" class="row">
                    <div class="col-md-12">
                        <h2 id="nm">{{ product_object.title }}</h2>
                    </div>
                </div>
                <div style="margin-top : 1rem;" class="row">
                    <div class="col-md-12">
                        <h5>₹ <strike>{{ product_object.original_price  }}</strike></h5>
                    </div>
                </div>
                <div  class="row">
                    <div class="col-md-12">
                        <h5 style="color:green;font: bold;"><b>₹ <span id="price">{{ product_object.discound_price }}</b></h5>
                    </div>
                </div>
                <div style="margin-top : 1rem;" class="row">
                    <div class="col-md-12">
                        <h6 ><b>Description</b></h6>
                        <h6>{{ product_object.discription }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block head %}

<script type="text/javascript">
    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    $(document).on('click','.atc',function(){
        console.log("the add to cart button is clicked")
        var item_id = this.id.toString();
        console.log(item_id);

        if(cart[item_id]!=undefined){
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
            cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById('price').innerHTML);
        }
        else{
            quantity = 1;
            name = document.getElementById("nm").innerHTML;
            price = parseFloat(document.getElementById('price').innerHTML);
            cart[item_id] = [quantity,name,price];
        }
        console.log(cart)
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById('cart').innerHTML = "Cart ("+ Object.keys(cart).length +")";

    });
</script>

{% endblock head %}